---
import { getCollection } from "astro:content";
import { SITE_DESCRIPTION, SITE_TITLE } from "@/consts";
import BaseLayout from "@/layouts/BaseLayout.astro";

// Generic Item Type
type ContentItem = {
  slug: string;
  collection: string;
  data: {
    pubDate: Date;
    title: string;
  };
};

// Get Posts and projects
const posts = (await getCollection("blog", ({ data }) => {
  return data.draft !== true;
})) as ContentItem[];

const projects = (await getCollection("portfolio", ({ data }) => {
  return data.draft !== true;
})) as ContentItem[];

// Mix the contents and sort by newest first
const content: ContentItem[] = posts
  .concat(projects)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

// Get the last 5 contents
const latestContent = content.slice(0, 5);
---

<BaseLayout pageTitle={SITE_TITLE} pageDescription={SITE_DESCRIPTION}>
  <div class="flex items-center mx-5 mb-5 tablet:mb-20">
    <div
      class="flex-1 flex text-6xl font-serif items-center text-orange-600 dark:text-orange-500 mb-5 mr-2"
    >
      <p>Hey, I'm Josh!</p>
      <p class="ml-3 motion-safe:animate-wave">👋</p>
    </div>
    <div>
      <picture>
        <source srcset="/images/joshua.webp" type="image/webp" />
        <source srcset="/images/joshua.jpg" type="image/jpeg" />
        <img
          aria-hidden="true"
          class="profile-mask w-56 hover:animate-wiggle"
          src="/images/joshua.jpg"
          alt="Profile Picture of Josh"
        />
      </picture>
    </div>
  </div>

  <article id="content" class="tablet:m-5">
    <div>
      <p>@Welcome tagline@ - Technician at Lincoln, - What it means</p>
      <p>
        I'm interested in all things: software development, robotics, games,
        web, automation, networking, radio, cloud, and homelab.
      </p>
    </div>

    <div>
      <p>@Past Work Experience@</p>
    </div>

    <div>
      <p>@Education@</p>
    </div>

    <div>
      <h3>@@ Portfolio/Blog, need better name@@ What have I been up to?</h3>
      <p>I have been up to a collection of things such as:</p>
      <p>
        <ul>
          {
            latestContent.map((item) => (
              <li>
                <a href={`${item.collection}/${item.slug}`}>
                  {item.data.title}
                </a>
              </li>
            ))
          }
        </ul>
      </p>
      <p>
        If you would like to know more, you should check out my <a
          href="/portfolio">portfolio</a
        > and <a href="/blog">blog</a>.
      </p>
    </div>

    <div>
      <p>@Other stuff, maybe get data from github????@</p>
    </div>

    <div>
      <p>@CTA to contact page@</p>
    </div>
  </article>
</BaseLayout>
