---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";

// interface Props {
//   title: string;
//   description: string;
//   icon?: string;
//   pubDate?: Date;
//   update?: Date;
// }

const { frontmatter, title, description, pubDate, update, icon } = Astro.props;

const pageTitle = frontmatter?.title || title;
const pageDescription = frontmatter?.description || description;
const pageIcon = frontmatter?.icon || icon;
const pagePubDate = frontmatter?.pubDate || pubDate;
const pageUpdate = frontmatter?.update || update;
---

<BaseLayout pageTitle={pageTitle} pageDescription={pageDescription}>
  <article id="content">
    <div class="hero-image m-5 tablet:m-2 laptop:m-0">
      {
        icon && (
          <header class="relative drop-shadow-md select-none">
            <img
              src={icon}
              aria-hidden="true"
              class="w-full h-32 tablet:h-64 rounded-3xl mb-10 object-cover select-none"
            />
          </header>
        )
      }
    </div>
    <div class="prose">
      <div class="title mb-8">
        <h1 class="text-4xl text-center font-extrabold mb-2">{pageTitle}</h1>
        <div class="date text-center">
          {pagePubDate && <FormattedDate date={pagePubDate} />}

          {
            pageUpdate && (
              <div class="last-updated-on">
                Updated on <FormattedDate date={pageUpdate} />
              </div>
            )
          }
        </div>
      </div>
      <slot />
    </div>
  </article>
</BaseLayout>
