---
import { getCollection } from "astro:content";
import FormattedDate from "@/components/FormattedDate.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";

const projects = (
  await getCollection("portfolio", ({ data }) => {
    return data.draft !== true;
  })
).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<BaseLayout pageTitle="Portfolio" pageDescription="Josh's Portfolio">
  <div class="prose">
    <div class="title mb-8">
      <h1 class="text-4xl text-center font-extrabold mb-2">Portfolio</h1>
    </div>
  </div>
  <section>
    {
      projects.map((project) => (
        <a href={`/portfolio/${project.slug}/`}>
          <div class="flex flex-col m-2 border-2 border-black-200 p-2 rounded-xl hover:bg-black-200">
            <div class="flex flex-row">
              {project.data.icon ? (
                <img
                  aria-hidden="true"
                  src={project.data.icon}
                  class="rounded-xl h-20 tablet:h-32"
                />
              ) : (
                <img
                  aria-hidden="true"
                  src="/images/no-image.webp"
                  class="rounded-xl h-20 tablet:h-32"
                />
              )}
              <div class="flex flex-col ml-5">
                <h4 class="title mt-0 font-semibold">{project.data.title}</h4>
                <p class="date">
                  {project.data.update ? (
                    <>
                      <FormattedDate date={project.data.pubDate} />
                      <p class="italic">
                        <span>
                          (Updated <FormattedDate date={project.data.update} />)
                        </span>
                      </p>
                    </>
                  ) : (
                    <FormattedDate date={project.data.pubDate} />
                  )}
                </p>
                <div class="mt-2 hidden tablet:block max-w-xl laptop:max-w-4xl">
                  <p>{project.data.description}</p>
                </div>
              </div>
            </div>
            <div class="mt-2 tablet:hidden">
              <p>{project.data.description}</p>
            </div>
          </div>
        </a>
      ))
    }
  </section>
</BaseLayout>
